01Any_To_VVeo3.json
{
  "name": "01Any_To_VVeo3",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting1').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting1').first().json.PROJECT_ID }}/locations/{{ $('Setting1').first().json.LOCATION }}/publishers/google/models/{{ $('Setting1').first().json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken').isExecuted && $('Get RefreshToken').first()?.json?.access_token,\n    $('Get RefreshToken').first().json.access_token,\n    $('Setting1').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"endpoint\": \"projects/{{ $('Setting1').first().json.PROJECT_ID }}/locations/{{ $('Setting1').first().json.LOCATION }}/publishers/google/models/{{ $('Setting1').first().json.MODEL_VERSION }}\",\n  \"instances\": [\n    {\n      \"prompt\": \"{{ ($('Setting1').first().json.TEXT_PROMPT || '')\n        .replace(/\\*\\*/g, '')\n        .replace(/\\*/g, '')\n        .replace(/^[\\s-]+/gm, '')\n        .replace(/\"/g, '\\\\\"')\n        .replace(/\\r\\n/g, '\\n')\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s{2,}/g, ' ')\n        .trim()}}\"\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"{{ $('Setting1').first().json.ASPECT_RATIO }}\",\n    \"sampleCount\": {{ $('Setting1').first().json.SAMPLE_COUNT }},\n    \"durationSeconds\": \"{{ $('Setting1').first().json.DURATION_SECONDS }}\",\n    \"personGeneration\": \"{{ $('Setting1').first().json.PERSON_GENERATION }}\",\n    \"addWatermark\": {{ $('Setting1').first().json.ADD_WATERMARK }},\n    \"includeRaiReason\": {{ $('Setting1').first().json.INCLUDE_RAI_REASON }},\n    \"generateAudio\": {{ $('Setting1').first().json.GENERATE_AUDIO }}\n  }\n}",
        "options": {}
      },
      "id": "a4049353-8876-40fe-9e3d-edbb125374df",
      "name": "Vertex AI-VEO",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3024,
        848
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "40a2a910-60b0-405b-b9f7-7116681d047b",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "position": [
        3664,
        1008
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting1').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting1').first().json.PROJECT_ID }}/locations/{{ $('Setting1').first().json.LOCATION }}/publishers/google/models/{{ $('Setting1').first().json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken').isExecuted && $('Get RefreshToken').first()?.json?.access_token,\n    $('Get RefreshToken').first().json.access_token,\n    $('Setting1').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "b5a8c34b-e37d-48a4-95f7-4bfdfc8af64f",
      "name": "Vertex AI-fetch",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3904,
        912
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video-ready",
              "leftValue": "={{ $json.response && $json.response.videos && $json.response.videos[0] && $json.response.videos[0].bytesBase64Encoded ? 'ready' : 'not_ready' }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4128,
        1008
      ],
      "id": "554c334a-c620-4850-b3f2-1cc2dc5a357a",
      "name": "Check Video Ready"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "587a9cdb-d375-4cc4-86e4-ad8b923a87e7",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        4352,
        1008
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "=video-{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Video_Veo3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_GOOGLE_DRIVE_FOLDER_ID"
        },
        "options": {}
      },
      "id": "faf7ff66-a695-4058-853b-c387a9ab3318",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        4576,
        1008
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Generate Prompt from URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494126530,
          "mode": "list",
          "cachedResultName": "Tạo Video từ Câu Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit#gid=YOUR_SHEET_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit').item.json.row_number }}",
            "Status": "Success",
            "Video-name": "={{ $json.name }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video-name",
              "displayName": "Video-name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4800,
        1008
      ],
      "id": "58db1926-aef9-44f6-a420-6a4baa551f64",
      "name": "Update Status to Success",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2240,
        896
      ],
      "id": "0b979ab5-0382-4b04-a208-48dd47a6209b",
      "name": "CheckTimeToken",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Setting1').first().json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Setting1').first().json.CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Setting1').first().json.REFRESH_TOKEN }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2592,
        1104
      ],
      "id": "031f581e-0636-4c6c-835e-ee12cf5dbd09",
      "name": "Get RefreshToken"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "YOUR_PROJECT_ID"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json.Prompt }}"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "YOUR_ACCESS_TOKEN"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "sample-count",
              "name": "SAMPLE_COUNT",
              "type": "number",
              "value": 1
            },
            {
              "id": "duration-seconds",
              "name": "DURATION_SECONDS",
              "type": "string",
              "value": "8"
            },
            {
              "id": "person-generation",
              "name": "PERSON_GENERATION",
              "type": "string",
              "value": "allow_all"
            },
            {
              "id": "add-watermark",
              "name": "ADD_WATERMARK",
              "type": "boolean",
              "value": true
            },
            {
              "id": "include-rai-reason",
              "name": "INCLUDE_RAI_REASON",
              "type": "boolean",
              "value": true
            },
            {
              "id": "generate-audio",
              "name": "GENERATE_AUDIO",
              "type": "boolean",
              "value": true
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "YOUR_CLIENT_ID"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "YOUR_CLIENT_SECRET"
            },
            {
              "id": "refresh-token",
              "name": "REFRESH_TOKEN",
              "type": "string",
              "value": "YOUR_REFRESH_TOKEN"
            },
            {
              "id": "row-data",
              "name": "ROW_DATA",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2831dff5-a979-4a27-9aa0-8a7247038cc0",
      "name": "Setting1",
      "type": "n8n-nodes-base.set",
      "position": [
        2000,
        880
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        352,
        880
      ],
      "id": "8d00fcfc-07ef-4516-8a9d-fc85f65674bd",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "content": "Prompt Tuỳ Ý\n",
        "height": 784,
        "width": 5984,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        720
      ],
      "id": "79859a41-fcb6-4728-8756-d471255103da",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Generate Prompt from URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494126530,
          "mode": "list",
          "cachedResultName": "Tạo Video từ Câu Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit#gid=YOUR_SHEET_ID"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        880
      ],
      "id": "64fbba6b-c4e1-4b39-a1cf-ac2e758904aa",
      "name": "Lấy Danh Sách Video Từ Câu Prompt",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        944,
        880
      ],
      "id": "5e910fb4-0ab2-460d-922e-681b6f90d3f6",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Limit').item.json.Keyword }}",
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=Bạn là một AI thông minh.Dựa trên từ khóa \"{{ $('Limit').item.json.Keyword }}\", tạo một video ngắn 8 giây, chia thành 3 phân cảnh. Tập trung vào NHÂN VẬT CHÍNH, bỏ qua chi tiết background và props phụ. Mỗi phân cảnh (theo giây) mô tả:  Cảnh 1 (0-2s):  - Nhân vật: Giới tính, độ tuổi ước lượng; ngoại hình (tóc, màu da, dáng người); trang phục (màu sắc, kiểu dáng cụ thể); biểu cảm khuôn mặt; tư thế cơ thể - Hành động: Đang làm gì, chuyển động tay/chân/đầu ra sao, tốc độ hành động (nhanh/chậm/từ từ), vị trí trong khung hình (trung tâm/bên trái/...) - Camera & ánh sáng: Góc quay; ánh sáng chính  Cảnh 2 (3-5s):  - Nhân vật: [mô tả tương tự] - Hành động: [mô tả tương tự] - Camera & ánh sáng: [ngắn gọn]  Cảnh 3 (6-8s):  - Nhân vật: [mô tả tương tự] - Hành động: [mô tả tương tự] - Camera & ánh sáng: [ngắn gọn]  Yêu cầu: Nhân vật là trung tâm, hành động rõ ràng, biểu cảm sống động. Video tổng cộng 8 giây, chia 3 phân cảnh đều hợp lý. Không cần mô tả chi tiết background hay props phụ."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1408,
        880
      ],
      "id": "3196b1ca-139f-4199-b855-4ea07ab23ff8",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1296,
        1136
      ],
      "id": "3b6abfe9-c87a-4b61-a265-874051a42efd",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Generate Prompt from URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494126530,
          "mode": "list",
          "cachedResultName": "Tạo Video từ Câu Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit#gid=YOUR_SHEET_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit').item.json.row_number }}",
            "Prompt": "={{ $json.text }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video-name",
              "displayName": "Video-name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        880
      ],
      "id": "d2d0f222-9d2c-4d08-bb95-829174d16a33",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "616fba57-8731-4629-b878-fceaa51a083c",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Run",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        736,
        880
      ],
      "id": "478e0b31-dd24-432d-8346-421d88e563df",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Generate Prompt from URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494126530,
          "mode": "list",
          "cachedResultName": "Tạo Video từ Câu Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_DOCUMENT_ID/edit#gid=YOUR_SHEET_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Status": "Pro"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video-name",
              "displayName": "Video-name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        880
      ],
      "id": "d6765113-40c8-4721-8108-a1f144906077",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting2').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken2').isExecuted && $('Get RefreshToken2').first()?.json?.access_token,\n    $('Get RefreshToken2').first().json.access_token,\n    $('Setting2').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"endpoint\": \"projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}\",\n  \"instances\": [\n    {\n      \"prompt\": \"{{ ($('Setting2').first().json.TEXT_PROMPT || '')\n        .replace(/\\*\\*/g, '')\n        .replace(/\\*/g, '')\n        .replace(/^[\\s-]+/gm, '')\n        .replace(/\"/g, '\\\\\"')\n        .replace(/\\r\\n/g, '\\n')\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s{2,}/g, ' ')\n        .trim()}}\"\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"{{ $('Setting2').first().json.ASPECT_RATIO }}\",\n    \"sampleCount\": {{ $('Setting2').first().json.SAMPLE_COUNT }},\n    \"durationSeconds\": \"{{ $('Setting2').first().json.DURATION_SECONDS }}\",\n    \"personGeneration\": \"{{ $('Setting2').first().json.PERSON_GENERATION }}\",\n    \"addWatermark\": {{ $('Setting2').first().json.ADD_WATERMARK }},\n    \"includeRaiReason\": {{ $('Setting2').first().json.INCLUDE_RAI_REASON }},\n    \"generateAudio\": {{ $('Setting2').first().json.GENERATE_AUDIO }}\n  }\n}",
        "options": {}
      },
      "id": "8bdc7386-da8c-44b7-aafd-4e5086827638",
      "name": "Vertex AI-VEO2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3024,
        1792
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "c92b7105-fb14-4910-b5c7-24c1cff3996e",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "position": [
        3664,
        1952
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting2').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting2').first().json.PROJECT_ID }}/locations/{{ $('Setting2').first().json.LOCATION }}/publishers/google/models/{{ $('Setting2').first().json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken2').isExecuted && $('Get RefreshToken2').first()?.json?.access_token,\n    $('Get RefreshToken2').first().json.access_token,\n    $('Setting2').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "b72efbb4-57ce-40bf-a8c4-3990c6b8b02a",
      "name": "Vertex AI-fetch2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3904,
        1856
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video-ready",
              "leftValue": "={{ $json.response && $json.response.videos && $json.response.videos[0] && $json.response.videos[0].bytesBase64Encoded ? 'ready' : 'not_ready' }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4128,
        1952
      ],
      "id": "49a5877f-a8ab-4ae3-815c-3de019c6e107",
      "name": "Check Video Ready2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "bc9b2939-b2d8-4862-92e4-b40f897d4ac3",
      "name": "Convert to File2",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        4352,
        1952
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "=video-create-from-images{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Video_Veo3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_GOOGLE_DRIVE_FOLDER_ID"
        },
        "options": {}
      },
      "id": "771be5f4-72cb-41ad-a79a-b09d00176a77",
      "name": "Upload file2",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        4576,
        1952
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2240,
        1840
      ],
      "id": "0f73e9cb-4165-4178-b364-11d54a5d0b12",
      "name": "CheckTimeToken2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Setting2').first().json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Setting2').first().json.CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Setting2').first().json.REFRESH_TOKEN }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2592,
        2048
      ],
      "id": "b8866f22-afee-4cb8-a47b-5094a9733e88",
      "name": "Get RefreshToken2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "YOUR_PROJECT_ID"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json['0'].content[0].text }}"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "YOUR_ACCESS_TOKEN"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "sample-count",
              "name": "SAMPLE_COUNT",
              "type": "number",
              "value": 1
            },
            {
              "id": "duration-seconds",
              "name": "DURATION_SECONDS",
              "type": "string",
              "value": "8"
            },
            {
              "id": "person-generation",
              "name": "PERSON_GENERATION",
              "type": "string",
              "value": "allow_all"
            },
            {
              "id": "add-watermark",
              "name": "ADD_WATERMARK",
              "type": "boolean",
              "value": true
            },
            {
              "id": "include-rai-reason",
              "name": "INCLUDE_RAI_REASON",
              "type": "boolean",
              "value": true
            },
            {
              "id": "generate-audio",
              "name": "GENERATE_AUDIO",
              "type": "boolean",
              "value": true
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "YOUR_CLIENT_ID"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "YOUR_CLIENT_SECRET"
            },
            {
              "id": "refresh-token",
              "name": "REFRESH_TOKEN",
              "type": "string",
              "value": "YOUR_REFRESH_TOKEN"
            },
            {
              "id": "row-data",
              "name": "ROW_DATA",
              "type": "array",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9e4140c9-33e0-4ea6-b041-37e3a59c4f80",
      "name": "Setting2",
      "type": "n8n-nodes-base.set",
      "position": [
        1840,
        1824
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        176,
        1808
      ],
      "id": "713f40a5-a00a-4a47-818e-8ad0a980ceab",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "content": "Tạo Video from Imags\n",
        "height": 784,
        "width": 5968,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        1664
      ],
      "id": "c4eb907c-f19f-4b86-82ee-d2639c6270be",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".jpg",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1fbEftm6Ic64Lu4sz-4E2ULR_OUX714re",
            "mode": "list",
            "cachedResultName": "CREATE_VIDEO_IMAGES",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1fbEftm6Ic64Lu4sz-4E2ULR_OUX714re"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        1808
      ],
      "id": "53c655b5-44c7-480a-b26e-b57aa126e30a",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1184,
        1824
      ],
      "id": "64dee636-bba0-4f15-9099-cbc2cf082482",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        912,
        1808
      ],
      "id": "532e856a-7fe1-4364-86b5-ab6450c017aa",
      "name": "Limit3"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=Bạn là một AI thông minh.Dựa trên hình ảnh, tạo một video ngắn 8 giây, chia thành 3 phân cảnh. Yêu cầu: Nhân vật là trung tâm (Thay thế bằng 1 người vô danh khác để không vi phạm chính sách của VertexAI và vi phạm bản quyền), hành động rõ ràng, biểu cảm sống động. Video tổng cộng 8 giây, chia 3 phân cảnh đều hợp lý. Không cần mô tả chi tiết background hay props phụ.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1504,
        1824
      ],
      "id": "d95110f1-9285-48a1-8374-2f9915bdeae3",
      "name": "Analyze image"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        304,
        2912
      ],
      "id": "be7827f7-22fd-457e-bb77-a69f856589f5",
      "name": "Schedule Trigger3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting3').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting3').first().json.PROJECT_ID }}/locations/{{ $('Setting3').first().json.LOCATION }}/publishers/google/models/{{ $('Setting3').first().json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken3').isExecuted && $('Get RefreshToken3').first()?.json?.access_token,\n    $('Get RefreshToken3').first().json.access_token,\n    $('Setting3').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"endpoint\": \"projects/{{ $('Setting3').first().json.PROJECT_ID }}/locations/{{ $('Setting3').first().json.LOCATION }}/publishers/google/models/{{ $('Setting3').first().json.MODEL_VERSION }}\",\n  \"instances\": [\n    {\n      \"prompt\": \"{{ ($('Setting3').first().json.TEXT_PROMPT || '')\n        .replace(/\\*\\*/g, '')\n        .replace(/\\*/g, '')\n        .replace(/^[\\s-]+/gm, '')\n        .replace(/\"/g, '\\\\\"')\n        .replace(/\\r\\n/g, '\\n')\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s{2,}/g, ' ')\n        .trim()}}\"\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"{{ $('Setting3').first().json.ASPECT_RATIO }}\",\n    \"sampleCount\": {{ $('Setting3').first().json.SAMPLE_COUNT }},\n    \"durationSeconds\": \"{{ $('Setting3').first().json.DURATION_SECONDS }}\",\n    \"personGeneration\": \"{{ $('Setting3').first().json.PERSON_GENERATION }}\",\n    \"addWatermark\": {{ $('Setting3').first().json.ADD_WATERMARK }},\n    \"includeRaiReason\": {{ $('Setting3').first().json.INCLUDE_RAI_REASON }},\n    \"generateAudio\": {{ $('Setting3').first().json.GENERATE_AUDIO }}\n  }\n}",
        "options": {}
      },
      "id": "76337990-4dcb-4e29-97c4-7d4b407d99da",
      "name": "Vertex AI-VEO3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2448,
        2912
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "27d952d2-5949-42b2-919e-71adaaecd52e",
      "name": "Wait4",
      "type": "n8n-nodes-base.wait",
      "position": [
        2672,
        2912
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting3').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting3').first().json.PROJECT_ID }}/locations/{{ $('Setting3').first().json.LOCATION }}/publishers/google/models/{{ $('Setting3').first().json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken3').isExecuted && $('Get RefreshToken3').first()?.json?.access_token,\n    $('Get RefreshToken3').first().json.access_token,\n    $('Setting3').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "65b38e1e-23f7-413a-9dd2-077dc3e2c2c6",
      "name": "Vertex AI-fetch3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2896,
        2832
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video-ready",
              "leftValue": "={{ $json.response && $json.response.videos && $json.response.videos[0] && $json.response.videos[0].bytesBase64Encoded ? 'ready' : 'not_ready' }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        3120,
        2912
      ],
      "id": "1de438bf-7b1a-4c4d-83a3-9ba9c9cfdad8",
      "name": "Check Video Ready3"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "342f100c-50bf-4873-bf54-895384d5e201",
      "name": "Convert to File3",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        3344,
        2912
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "=video-createfromOdlVideo{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Video_Veo3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_GOOGLE_DRIVE_FOLDER_ID"
        },
        "options": {}
      },
      "id": "1d7c6e51-c3c6-4a8b-b73b-dc860ca82e80",
      "name": "Upload file3",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3568,
        2912
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2000,
        2912
      ],
      "id": "22f2c89a-cf0b-408e-945f-b514ab376e49",
      "name": "CheckTimeToken3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Setting3').first().json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Setting3').first().json.CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Setting3').first().json.REFRESH_TOKEN }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2224,
        2976
      ],
      "id": "6ac75e1a-abd9-4fd8-971e-c278551733a6",
      "name": "Get RefreshToken3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "YOUR_PROJECT_ID"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "YOUR_ACCESS_TOKEN"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "sample-count",
              "name": "SAMPLE_COUNT",
              "type": "number",
              "value": 1
            },
            {
              "id": "duration-seconds",
              "name": "DURATION_SECONDS",
              "type": "string",
              "value": "8"
            },
            {
              "id": "person-generation",
              "name": "PERSON_GENERATION",
              "type": "string",
              "value": "allow_all"
            },
            {
              "id": "add-watermark",
              "name": "ADD_WATERMARK",
              "type": "boolean",
              "value": true
            },
            {
              "id": "include-rai-reason",
              "name": "INCLUDE_RAI_REASON",
              "type": "boolean",
              "value": true
            },
            {
              "id": "generate-audio",
              "name": "GENERATE_AUDIO",
              "type": "boolean",
              "value": true
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "YOUR_CLIENT_ID"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "YOUR_CLIENT_SECRET"
            },
            {
              "id": "refresh-token",
              "name": "REFRESH_TOKEN",
              "type": "string",
              "value": "YOUR_REFRESH_TOKEN"
            },
            {
              "id": "row-data",
              "name": "ROW_DATA",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d5698f08-6b3b-4013-bcb4-70cbed602c23",
      "name": "Setting3",
      "type": "n8n-nodes-base.set",
      "position": [
        1776,
        2912
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "Worflow tạo Video từ Video Có sẵn trên drive\n",
        "height": 736,
        "width": 5744,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        2640
      ],
      "id": "5e6b48de-4dc4-48ca-bed3-b1b3a61b2403",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1LX7vbMiECKtLB8utWAYlw_oh7S7gRHzS",
            "mode": "list",
            "cachedResultName": "Videos_for_Create_VertexAI",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1LX7vbMiECKtLB8utWAYlw_oh7S7gRHzS"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        2912
      ],
      "id": "3f49193b-deaa-416c-8b19-ae57c5b3f594",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        752,
        2912
      ],
      "id": "843ae3e3-e5dc-46a2-9e5c-14803fbec004",
      "name": "Limit4"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        976,
        2912
      ],
      "id": "19e487f9-e6de-40d5-9a47-18b3ff7b9d75",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1200,
        2912
      ],
      "id": "93f6b824-03a0-4edc-8a9a-4e6571c7feaa",
      "name": "Transcribe a recording"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "type": "=SystemMessagePromptTemplate",
              "message": "=Bạn là một AI thông minh.Dựa trên text \"{{ $json.text }}\", tạo một video ngắn 8 giây, chia thành 3 phân cảnh. Yêu cầu: Nhân vật là trung tâm (Thay thế bằng 1 người vô danh khác để không vi phạm chính sách của VertexAI và vi phạm bản quyền), hành động rõ ràng, biểu cảm sống động. Video tổng cộng 8 giây, chia 3 phân cảnh đều hợp lý. Không cần mô tả chi tiết background hay props phụ."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1424,
        2912
      ],
      "id": "a0084b3c-c0bf-4d64-9be2-67b5c73596fe",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1504,
        3136
      ],
      "id": "00d53870-14a5-4cd4-8421-b29a65102944",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Limit3').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qvFU3qRuQBvn6AdZcR3pPK_NS8HRPjeL",
          "mode": "list",
          "cachedResultName": "Done_Create_video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qvFU3qRuQBvn6AdZcR3pPK_NS8HRPjeL"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4784,
        1952
      ],
      "id": "2ec994f5-5f79-4772-a705-abc091c029de",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Limit4').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qvFU3qRuQBvn6AdZcR3pPK_NS8HRPjeL",
          "mode": "list",
          "cachedResultName": "Done_Create_video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qvFU3qRuQBvn6AdZcR3pPK_NS8HRPjeL"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3840,
        2912
      ],
      "id": "c177a65e-16f8-4497-810c-cb186f86445d",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "Worflow tại Video từ Link Youtube\n",
        "height": 736,
        "width": 6032
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -80
      ],
      "id": "c839e05d-6a75-4a36-84ba-429889f9d3f9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c585362-28fa-428a-a9a6-da0c7adb293d",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Run",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        192
      ],
      "id": "b4bdddcf-9ca3-4eda-a471-a74b80974ab6",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q6fT_AmjLHvqPLh_JMnpO1NiWt36F3wsptBWB3kAF44",
          "mode": "list",
          "cachedResultName": "02. Generate Prompt from URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q6fT_AmjLHvqPLh_JMnpO1NiWt36F3wsptBWB3kAF44/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tạo Video Từ Youtube",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q6fT_AmjLHvqPLh_JMnpO1NiWt36F3wsptBWB3kAF44/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit1').item.json.row_number }}",
            "Status": "Pro"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        176
      ],
      "id": "288cfb86-0869-40b1-b119-588a216c389c",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "YOUR_PROJECT_ID"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json.Prompt }}"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "YOUR_ACCESS_TOKEN"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "sample-count",
              "name": "SAMPLE_COUNT",
              "type": "number",
              "value": 1
            },
            {
              "id": "duration-seconds",
              "name": "DURATION_SECONDS",
              "type": "string",
              "value": "8"
            },
            {
              "id": "person-generation",
              "name": "PERSON_GENERATION",
              "type": "string",
              "value": "allow_all"
            },
            {
              "id": "add-watermark",
              "name": "ADD_WATERMARK",
              "type": "boolean",
              "value": true
            },
            {
              "id": "include-rai-reason",
              "name": "INCLUDE_RAI_REASON",
              "type": "boolean",
              "value": true
            },
            {
              "id": "generate-audio",
              "name": "GENERATE_AUDIO",
              "type": "boolean",
              "value": true
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "YOUR_CLIENT_ID"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "YOUR_CLIENT_SECRET"
            },
            {
              "id": "refresh-token",
              "name": "REFRESH_TOKEN",
              "type": "string",
              "value": "YOUR_REFRESH_TOKEN"
            },
            {
              "id": "row-data",
              "name": "ROW_DATA",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "06ffa682-08bc-4f97-9607-dfd2852d5486",
      "name": "Setting",
      "type": "n8n-nodes-base.set",
      "position": [
        2544,
        272
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Phân tích  {{ $json.captions }}  này. TẬP TRUNG VÀO NHÂN VẬT CHÍNH:\n\nVới mỗi cảnh (chia theo giây), mô tả:\n\n1. NHÂN VẬT:\n   - Giới tính, độ tuổi ước lượng\n   - Ngoại hình: Tóc (màu, kiểu), da, dáng người\n   - Trang phục: Màu sắc, kiểu dáng cụ thể\n   - Biểu cảm khuôn mặt\n   - Tư thế cơ thể\n\n2. HÀNH ĐỘNG:\n   - Đang làm gì? (động từ cụ thể)\n   - Tay/chân/đầu di chuyển ra sao?\n   - Tốc độ hành động (nhanh/chậm/từ từ)\n   - Vị trí trong khung hình (trung tâm/bên trái/...)\n\n3. CAMERA & ÁNH SÁNG (ngắn gọn):\n   - Góc quay\n   - Ánh sáng chính\n\nBỎ QUA: Chi tiết background không quan trọng, props phụ\nBẮT BUỘC VIDEO CHỈ CÓ 8 giây nên bạn chia ra 3 phân cảnh nha\nĐỊNH DẠNG:\nCảnh 1 (0-Xs): \n- Nhân vật: [mô tả]\n- Hành động: [mô tả]\n- Camera: [ngắn gọn]",
        "videoUrls": "={{ $('Limit1').item.json.URL }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2112,
        272
      ],
      "id": "58cfba4f-22a6-46bf-bef0-0a81f55f8c85",
      "name": "Analyze video1",
      "credentials": {
        "googlePalmApi": {
          "id": "88vZprRPgatVJAnh",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        704,
        176
      ],
      "id": "f93fcff7-48af-43db-a8ba-7461ab4eba4b",
      "name": "Limit1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Setting').first().json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Setting').first().json.CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Setting').first().json.REFRESH_TOKEN }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3264,
        432
      ],
      "id": "b6fb1e2c-39f0-42f9-bd69-705fb011e092",
      "name": "Get RefreshToken1"
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2720,
        256
      ],
      "id": "4815e87d-7e4d-43cf-a1b7-77c96054caf8",
      "name": "CheckTimeToken1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q6fT_AmjLHvqPLh_JMnpO1NiWt36F3wsptBWB3kAF44",
          "mode": "list",
          "cachedResultName": "02. Generate Prompt from URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q6fT_AmjLHvqPLh_JMnpO1NiWt36F3wsptBWB3kAF44/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tạo Video Từ Youtube",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q6fT_AmjLHvqPLh_JMnpO1NiWt36F3wsptBWB3kAF44/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit1').item.json.row_number }}",
            "Status": "Success",
            "video_name": "={{ $json.name }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_name",
              "displayName": "video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt Custom",
              "displayName": "Prompt Custom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "video_name_custom",
              "displayName": "video_name_custom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5712,
        368
      ],
      "id": "be1d2233-aa18-43e7-adcd-e096ded36556",
      "name": "Update Status to Success1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "name": "=video-{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1gvzn-Nb2hPk6J54k_FGNaycZwO11uoPj",
          "mode": "list",
          "cachedResultName": "02. Video_Veo3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gvzn-Nb2hPk6J54k_FGNaycZwO11uoPj"
        },
        "options": {}
      },
      "id": "b9ccff3b-898c-45f9-b795-2c50a1802001",
      "name": "Upload file1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        5488,
        368
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "0d8e6701-6d62-4062-872c-d5d26d5615af",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        5264,
        368
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video-ready",
              "leftValue": "={{ $json.response && $json.response.videos && $json.response.videos[0] && $json.response.videos[0].bytesBase64Encoded ? 'ready' : 'not_ready' }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        5040,
        368
      ],
      "id": "f8f2d664-1a1f-4f74-9971-d6952c74d72f",
      "name": "Check Video Ready1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting').first().json.PROJECT_ID }}/locations/{{ $('Setting').first().json.LOCATION }}/publishers/google/models/{{ $('Setting').first().json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken1').isExecuted && $('Get RefreshToken1').first()?.json?.access_token,\n    $('Get RefreshToken1').first().json.access_token,\n    $('Setting').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "733ff777-0569-4300-aa5d-1cd5bd435a87",
      "name": "Vertex AI-fetch1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4816,
        288
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "474e6472-930d-421c-9c92-1aecaa7e8f15",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "position": [
        4576,
        368
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting').first().json.PROJECT_ID }}/locations/{{ $('Setting').first().json.LOCATION }}/publishers/google/models/{{ $('Setting').first().json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken1').isExecuted && $('Get RefreshToken1').first()?.json?.access_token,\n    $('Get RefreshToken1').first().json.access_token,\n    $('Setting').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"endpoint\": \"projects/{{ $('Setting').first().json.PROJECT_ID }}/locations/{{ $('Setting').first().json.LOCATION }}/publishers/google/models/{{ $('Setting').first().json.MODEL_VERSION }}\",\n  \"instances\": [\n    {\n      \"prompt\": \"{{ ($('Setting').first().json.TEXT_PROMPT || '')\n        .replace(/\\*\\*/g, '')\n        .replace(/\\*/g, '')\n        .replace(/^[\\s-]+/gm, '')\n        .replace(/\"/g, '\\\\\"')\n        .replace(/\\r\\n/g, '\\n')\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s{2,}/g, ' ')\n        .trim()}}\"\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"{{ $('Setting').first().json.ASPECT_RATIO }}\",\n    \"sampleCount\": {{ $('Setting').first().json.SAMPLE_COUNT }},\n    \"durationSeconds\": \"{{ $('Setting').first().json.DURATION_SECONDS }}\",\n    \"personGeneration\": \"{{ $('Setting').first().json.PERSON_GENERATION }}\",\n    \"addWatermark\": {{ $('Setting').first().json.ADD_WATERMARK }},\n    \"includeRaiReason\": {{ $('Setting').first().json.INCLUDE_RAI_REASON }},\n    \"generateAudio\": {{ $('Setting').first().json.GENERATE_AUDIO }}\n  }\n}",
        "options": {}
      },
      "id": "4520970f-a926-40a8-b130-fc9b43368d6f",
      "name": "Vertex AI-VEO1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3936,
        224
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Q6fT_AmjLHvqPLh_JMnpO1NiWt36F3wsptBWB3kAF44",
          "mode": "list",
          "cachedResultName": "02. Generate Prompt from URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q6fT_AmjLHvqPLh_JMnpO1NiWt36F3wsptBWB3kAF44/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tạo Video Từ Youtube",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q6fT_AmjLHvqPLh_JMnpO1NiWt36F3wsptBWB3kAF44/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Prompt": "={{ $json.content.parts[0].text }}",
            "row_number": "={{ $('Limit1').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2304,
        256
      ],
      "id": "5eb56e23-6b04-4c1a-bdd7-08d1cdc0434d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Q6fT_AmjLHvqPLh_JMnpO1NiWt36F3wsptBWB3kAF44",
          "mode": "list",
          "cachedResultName": "02. Generate Prompt from URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q6fT_AmjLHvqPLh_JMnpO1NiWt36F3wsptBWB3kAF44/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tạo Video Từ Youtube",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Q6fT_AmjLHvqPLh_JMnpO1NiWt36F3wsptBWB3kAF44/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        192
      ],
      "id": "0c153f06-8ca1-40ee-9d33-11bc54dc0c8a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        192
      ],
      "id": "8e8b9772-f5b5-4a52-a413-919b6a8cf922",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "APIFY_TOKEN_PRIMARY",
              "type": "string",
              "value": "YOUR_APIFY_TOKEN_PRIMARY"
            },
            {
              "name": "APIFY_TOKEN_ACTOR_RUN",
              "type": "string",
              "value": "YOUR_APIFY_TOKEN_ACTOR_RUN"
            },
            {
              "name": "APIFY_PROXY_GROUP",
              "type": "string",
              "value": "YOUR_APIFY_PROXY_GROUP"
            },
            {
              "name": "OUTPUT_FORMAT",
              "type": "string",
              "value": "singleStringText"
            },
            {
              "name": "MAX_RETRIES",
              "type": "number",
              "value": 8
            },
            {
              "name": "CHANNEL_NAME_BOOL",
              "type": "boolean",
              "value": true
            },
            {
              "name": "CHANNEL_ID_BOOL",
              "type": "boolean",
              "value": true
            },
            {
              "name": "DATE_TEXT_BOOL",
              "type": "boolean",
              "value": false
            },
            {
              "name": "RELATIVE_DATE_TEXT_BOOL",
              "type": "boolean",
              "value": false
            },
            {
              "name": "DATE_PUBLISHED_BOOL",
              "type": "boolean",
              "value": true
            },
            {
              "name": "VIEW_COUNT_BOOL",
              "type": "boolean",
              "value": false
            },
            {
              "name": "LIKES_BOOL",
              "type": "boolean",
              "value": false
            },
            {
              "name": "COMMENTS_BOOL",
              "type": "boolean",
              "value": false
            },
            {
              "name": "KEYWORDS_BOOL",
              "type": "boolean",
              "value": false
            },
            {
              "name": "THUMBNAIL_BOOL",
              "type": "boolean",
              "value": false
            },
            {
              "name": "DESCRIPTION_BOOL",
              "type": "boolean",
              "value": false
            },
            {
              "name": "USE_APIFY_PROXY",
              "type": "boolean",
              "value": true
            },
            {
              "name": "DATASET_FORMAT",
              "type": "string",
              "value": "json"
            },
            {
              "name": "DATASET_LIMIT",
              "type": "number",
              "value": 100
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        176
      ],
      "id": "136cc285-4ad5-4f7c-af96-9dbae11b0261",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/1s7eXiaukVuOr4Ueg/runs?token={{ $('Edit Fields1').item.json.APIFY_TOKEN_PRIMARY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"outputFormat\": \"{{ $('Edit Fields1').item.json.OUTPUT_FORMAT }}\",\n  \"urls\": [\"{{ $('If').item.json.URL }}\"],\n  \"maxRetries\": {{ $('Edit Fields1').item.json.MAX_RETRIES }},\n  \"channelNameBoolean\": {{ $('Edit Fields1').item.json.CHANNEL_NAME_BOOL }},\n  \"channelIDBoolean\": {{ $('Edit Fields1').item.json.CHANNEL_ID_BOOL }},\n  \"dateTextBoolean\": {{ $('Edit Fields1').item.json.DATE_TEXT_BOOL }},\n  \"relativeDateTextBoolean\": {{ $('Edit Fields1').item.json.RELATIVE_DATE_TEXT_BOOL }},\n  \"datePublishedBoolean\": {{ $('Edit Fields1').item.json.DATE_PUBLISHED_BOOL }},\n  \"viewCountBoolean\": {{ $('Edit Fields1').item.json.VIEW_COUNT_BOOL }},\n  \"likesBoolean\": {{ $('Edit Fields1').item.json.LIKES_BOOL }},\n  \"commentsBoolean\": {{ $('Edit Fields1').item.json.COMMENTS_BOOL }},\n  \"keywordsBoolean\": {{ $('Edit Fields1').item.json.KEYWORDS_BOOL }},\n  \"thumbnailBoolean\": {{ $('Edit Fields1').item.json.THUMBNAIL_BOOL }},\n  \"descriptionBoolean\": {{ $('Edit Fields1').item.json.DESCRIPTION_BOOL }},\n  \"proxyOptions\": {\n    \"useApifyProxy\": {{ $('Edit Fields1').item.json.USE_APIFY_PROXY }},\n    \"apifyProxyGroups\": [\"{{ $('Edit Fields1').item.json.APIFY_PROXY_GROUP }}\"]\n  }\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        176
      ],
      "id": "ca2758e3-8458-4a10-bdfe-c8a9e6086876",
      "name": "Lấy Danh Sách Các Actors1"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}?token={{ $('Edit Fields1').item.json.APIFY_TOKEN_ACTOR_RUN }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Edit Fields1').item.json.APIFY_TOKEN_PRIMARY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        176
      ],
      "id": "c903369e-7962-49eb-8417-05ee4de01124",
      "name": "Lấy Thông Tin Chi Tiết của Actor Sau Run1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1696,
        256
      ],
      "id": "63fa933d-4af2-487e-9154-ac9f01f1877a",
      "name": "Wait5",
      "webhookId": "83b62c56-0d82-4e5c-8269-058a4e1d9a6f"
    },
    {
      "parameters": {
        "method": "=GET",
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "={{ $('Edit Fields1').item.json.DATASET_FORMAT }}"
            },
            {
              "name": "limit",
              "value": "={{ $('Edit Fields1').item.json.DATASET_LIMIT }}"
            },
            {
              "name": "token",
              "value": "={{ $('Edit Fields1').item.json.APIFY_TOKEN_PRIMARY }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Edit Fields1').item.json.APIFY_TOKEN_PRIMARY }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        256
      ],
      "id": "97bab037-97d5-4b0d-aabe-0431712739be",
      "name": "Lấy kết quả của  transcript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Vertex AI-VEO": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch": {
      "main": [
        [
          {
            "node": "Check Video Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Update Status to Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTimeToken": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RefreshToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RefreshToken": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting1": {
      "main": [
        [
          {
            "node": "CheckTimeToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Lấy Danh Sách Video Từ Câu Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Danh Sách Video Từ Câu Prompt": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Setting1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-VEO2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch2": {
      "main": [
        [
          {
            "node": "Check Video Ready2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready2": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTimeToken2": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RefreshToken2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RefreshToken2": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting2": {
      "main": [
        [
          {
            "node": "CheckTimeToken2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Setting2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-VEO3": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch3": {
      "main": [
        [
          {
            "node": "Check Video Ready3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready3": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Upload file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file3": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTimeToken3": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RefreshToken3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RefreshToken3": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting3": {
      "main": [
        [
          {
            "node": "CheckTimeToken3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Setting3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting": {
      "main": [
        [
          {
            "node": "CheckTimeToken1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTimeToken1": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RefreshToken1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RefreshToken1": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Update Status to Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch1": {
      "main": [
        [
          {
            "node": "Check Video Ready1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-VEO1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Setting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Lấy Danh Sách Các Actors1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Danh Sách Các Actors1": {
      "main": [
        [
          {
            "node": "Lấy Thông Tin Chi Tiết của Actor Sau Run1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Thông Tin Chi Tiết của Actor Sau Run1": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Lấy kết quả của  transcript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy kết quả của  transcript1": {
      "main": [
        [
          {
            "node": "Analyze video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "088e571d-d40e-45a7-9df7-2b56689cfa9f",
  "meta": {
    "instanceId": "8ae9064574590f4bef62fe6c8cafaae52a5a90dd40cb184103af1049753a2d5d"
  },
  "id": "jtZzJicdJgJ3Z0ZG",
  "tags": []
}