01LinkYoutube_To_VVeo3.json
{
  "name": "01LinkYoutube_To_VVeo3_V03",
  "nodes": [
    {
      "parameters": {
        "content": "Worflow tại Video từ Link Youtube\n",
        "height": 736,
        "width": 5376
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6db1f719-6b9b-454c-8a07-b8910042bd5b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c585362-28fa-428a-a9a6-da0c7adb293d",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Run",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        320
      ],
      "id": "8c2653c0-8d42-4624-93f3-7191e7970d80",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic",
          "mode": "list",
          "cachedResultName": "02. Video_Prompt_Youtube_Prompt_Image_alt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Youtube",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit1').item.json.row_number }}",
            "Status": "Pro"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URLs",
              "displayName": "URLs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompts",
              "displayName": "Prompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_names",
              "displayName": "Video_names",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt Customs",
              "displayName": "Prompt Customs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video_name_customs",
              "displayName": "Video_name_customs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        320
      ],
      "id": "9975fd1b-fbf4-4444-beae-fbe3f4eb2068",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "cntmake-442905"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.1-generate-001"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "us-central1"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json.Prompts }}"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "1//04ONlVbX3NnaVCgYIARAAGAQSNwF-L9IrxB2EgwmuAQcjRjpUxtIEqzcrH0Bhg603sLJ4iLj4PHg_kCASqZZnFls2s59QrxCyhAA"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "us-central1-aiplatform.googleapis.com"
            },
            {
              "id": "aspect-ratio",
              "name": "ASPECT_RATIO",
              "type": "string",
              "value": "9:16"
            },
            {
              "id": "sample-count",
              "name": "SAMPLE_COUNT",
              "type": "number",
              "value": 1
            },
            {
              "id": "duration-seconds",
              "name": "DURATION_SECONDS",
              "type": "string",
              "value": "8"
            },
            {
              "id": "person-generation",
              "name": "PERSON_GENERATION",
              "type": "string",
              "value": "allow_all"
            },
            {
              "id": "add-watermark",
              "name": "ADD_WATERMARK",
              "type": "boolean",
              "value": true
            },
            {
              "id": "include-rai-reason",
              "name": "INCLUDE_RAI_REASON",
              "type": "boolean",
              "value": true
            },
            {
              "id": "generate-audio",
              "name": "GENERATE_AUDIO",
              "type": "boolean",
              "value": true
            },
            {
              "id": "client-id",
              "name": "CLIENT_ID",
              "type": "string",
              "value": "349761167636-fvcmldolcg5dqk93pj4vlg4v1j4t3185.apps.googleusercontent.com"
            },
            {
              "id": "client-secret",
              "name": "CLIENT_SECRET",
              "type": "string",
              "value": "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"
            },
            {
              "id": "refresh-token",
              "name": "REFRESH_TOKEN",
              "type": "string",
              "value": "1//04ONlVbX3NnaVCgYIARAAGAQSNwF-L9IrxB2EgwmuAQcjRjpUxtIEqzcrH0Bhg603sLJ4iLj4PHg_kCASqZZnFls2s59QrxCyhAA"
            },
            {
              "id": "row-data",
              "name": "ROW_DATA",
              "type": "object",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c374869-66f8-4b26-8561-a16e2f5d7c0b",
      "name": "Setting",
      "type": "n8n-nodes-base.set",
      "position": [
        2880,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Create a high-quality cinematic explainer video in Vietnamese that visually illustrates the following Vietnamese transcript:\n\n{{ $json.captions }}\n\nLANGUAGE REQUIREMENT:\n- All narration, dialogue, and implied language must be Vietnamese\n- Visuals must clearly match Vietnamese spoken content\n\nVIDEO LENGTH:\n- Total video duration: exactly 8 seconds\n\nVIDEO STYLE:\n- Realistic cinematic style\n- Natural, soft lighting\n- Clean, modern, professional look\n- Smooth camera movement (slow pan, gentle zoom)\n- No subtitles or on-screen text unless naturally appearing in the environment\n\nSCENE STRUCTURE:\n- Divide the 8-second video into multiple short scenes (1–2 seconds per scene)\n- Each scene visually represents the meaning of the transcript at that moment\n- Smooth and natural transitions between scenes\n\nMAIN CHARACTER:\n- One consistent main character throughout the entire video\n- The character must be an Asian person\n- Neutral, friendly appearance suitable for a general audience\n- Simple, modern clothing\n- Consistent facial features, hairstyle, and outfit across all scenes\n- Natural facial expressions and calm body language\n- The main character should be the visual focus in most scenes\n\nCHARACTER ACTIONS:\n- Actions must directly reflect the Vietnamese narration\n- Natural movements: thinking, explaining, working, observing\n- Avoid exaggerated or dramatic gestures\n\nENVIRONMENT:\n- Clean and neutral environments such as:\n  - Modern office\n  - Home workspace\n  - Classroom\n  - Minimalist indoor space\n- No brand logos, no copyrighted characters\n- No sensitive, controversial, or unsafe elements\n\nCAMERA & COMPOSITION:\n- Use a mix of close-up, medium, and wide shots\n- Cinematic depth of field\n- Stable framing, no shaky camera\n- Clear subject focus\n\nCONTENT SAFETY:\n- Family-friendly visuals\n- No violence, no weapons\n- No political or persuasive content\n- No sensitive personal attributes\n- Neutral and informative tone\n\nAUDIO & TIMING:\n- Visual pacing must match the Vietnamese narration rhythm\n- Each scene must align clearly with the spoken content\n- Video ends cleanly at 8 seconds\n\nGOAL:\n- Create a clear and engaging visual explanation that helps viewers easily understand the Vietnamese transcript within 8 seconds\n\n",
        "videoUrls": "={{ $('Limit1').item.json.URLs }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2432,
        320
      ],
      "id": "eb005653-7e3e-4257-8b70-81acba4d0e7b",
      "name": "Analyze video1",
      "credentials": {
        "googlePalmApi": {
          "id": "kySImgI1WWGnreMX",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        864,
        320
      ],
      "id": "a73533a7-8d32-413b-802d-1694a739d8ab",
      "name": "Limit1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('Setting').first().json.CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Setting').first().json.CLIENT_SECRET }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Setting').first().json.REFRESH_TOKEN }}"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3328,
        384
      ],
      "id": "88270272-6181-48db-8701-aa12468e6728",
      "name": "Get RefreshToken1"
    },
    {
      "parameters": {
        "url": "https://oauth2.googleapis.com/tokeninfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3104,
        320
      ],
      "id": "285fbcc7-351b-4f36-a10f-496be7c690c8",
      "name": "CheckTimeToken1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic",
          "mode": "list",
          "cachedResultName": "02. Video_Prompt_Youtube_Prompt_Image_alt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Youtube",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit1').item.json.row_number }}",
            "Status": "Success",
            "Video_names": "={{ $json.name }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URLs",
              "displayName": "URLs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompts",
              "displayName": "Prompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video_names",
              "displayName": "Video_names",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt Customs",
              "displayName": "Prompt Customs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video_name_customs",
              "displayName": "Video_name_customs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4896,
        320
      ],
      "id": "996bcd98-84a6-407c-b1dc-3bbf7f2c22ef",
      "name": "Update Status to Success1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "name": "=video-{{ $now.toFormat('yyyy-MM-dd-HHmmss') }}.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1gvzn-Nb2hPk6J54k_FGNaycZwO11uoPj",
          "mode": "list",
          "cachedResultName": "02. Video_Veo3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gvzn-Nb2hPk6J54k_FGNaycZwO11uoPj"
        },
        "options": {}
      },
      "id": "2fd69141-0037-4725-b7c5-6d75d4afd6a8",
      "name": "Upload file1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        4672,
        320
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e2osjsVHgsECOqGE",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "31ec5a23-5444-4eec-bc4d-efe98014b1c6",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        4448,
        320
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video-ready",
              "leftValue": "={{ $json.response && $json.response.videos && $json.response.videos[0] && $json.response.videos[0].bytesBase64Encoded ? 'ready' : 'not_ready' }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4224,
        320
      ],
      "id": "68fb378d-b56d-4849-9fa2-0ae6969862b2",
      "name": "Check Video Ready1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting').first().json.PROJECT_ID }}/locations/{{ $('Setting').first().json.LOCATION }}/publishers/google/models/{{ $('Setting').first().json.MODEL_VERSION }}:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken1').isExecuted && $('Get RefreshToken1').first()?.json?.access_token,\n    $('Get RefreshToken1').first().json.access_token,\n    $('Setting').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "7640c892-ae27-4237-abb0-b747659a80da",
      "name": "Vertex AI-fetch1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4000,
        240
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "7a46c984-a7bd-42e0-ac41-61e8ad5aeabf",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "position": [
        3776,
        320
      ],
      "typeVersion": 1.1,
      "webhookId": "ca4136c0-182a-43e0-b234-079ffe826eea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting').first().json.API_ENDPOINT }}/v1/projects/{{ $('Setting').first().json.PROJECT_ID }}/locations/{{ $('Setting').first().json.LOCATION }}/publishers/google/models/{{ $('Setting').first().json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ \n  $if(\n    $('Get RefreshToken1').isExecuted && $('Get RefreshToken1').first()?.json?.access_token,\n    $('Get RefreshToken1').first().json.access_token,\n    $('Setting').item.json.ACCESS_TOKEN\n  )\n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n  \"endpoint\": \"projects/{{ $('Setting').first().json.PROJECT_ID }}/locations/{{ $('Setting').first().json.LOCATION }}/publishers/google/models/{{ $('Setting').first().json.MODEL_VERSION }}\",\n  \"instances\": [\n    {\n      \"prompt\": \"{{ ($('Setting').first().json.TEXT_PROMPT || '')\n        .replace(/\\*\\*/g, '')\n        .replace(/\\*/g, '')\n        .replace(/^[\\s-]+/gm, '')\n        .replace(/\"/g, '\\\\\"')\n        .replace(/\\r\\n/g, '\\n')\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s{2,}/g, ' ')\n        .trim()}}\"\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"{{ $('Setting').first().json.ASPECT_RATIO }}\",\n    \"sampleCount\": {{ $('Setting').first().json.SAMPLE_COUNT }},\n    \"durationSeconds\": \"{{ $('Setting').first().json.DURATION_SECONDS }}\",\n    \"personGeneration\": \"{{ $('Setting').first().json.PERSON_GENERATION }}\",\n    \"addWatermark\": {{ $('Setting').first().json.ADD_WATERMARK }},\n    \"includeRaiReason\": {{ $('Setting').first().json.INCLUDE_RAI_REASON }},\n    \"generateAudio\": {{ $('Setting').first().json.GENERATE_AUDIO }}\n  }\n}",
        "options": {}
      },
      "id": "4d7d9f69-7904-4a19-a1f0-2b83339d5146",
      "name": "Vertex AI-VEO1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3552,
        320
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic",
          "mode": "list",
          "cachedResultName": "02. Video_Prompt_Youtube_Prompt_Image_alt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Youtube",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit1').item.json.row_number }}",
            "Prompts": "={{ $json.content.parts[0].text }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "URLs",
              "displayName": "URLs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompts",
              "displayName": "Prompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video_names",
              "displayName": "Video_names",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt Customs",
              "displayName": "Prompt Customs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video_name_customs",
              "displayName": "Video_name_customs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2656,
        320
      ],
      "id": "166f7562-8451-49be-93d3-691ec1179735",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic",
          "mode": "list",
          "cachedResultName": "02. Video_Prompt_Youtube_Prompt_Image_alt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Youtube",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D69s9DG_p04m3SY9Cia6ARjbRlo55cXdeYaO1MCl5ic/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        320
      ],
      "id": "28f3e559-3781-4b52-b1e2-3c32e2a678e8",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ac91EFYN3SiuFuHK",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        192,
        320
      ],
      "id": "701a68c6-82e0-4730-84c2-f33ba010c7e1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/{{ $('Nhập Thông Số Đầu Vào').item.json.APIFY_ACTOR_ID }}/runs?token={{ $('Nhập Thông Số Đầu Vào').item.json.APIFY_TOKEN_PRIMARY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"outputFormat\": \"{{ $('Nhập Thông Số Đầu Vào').item.json.OUTPUT_FORMAT }}\",\n  \"urls\": [\"{{ $('If').item.json.URLs }}\"],\n  \"maxRetries\": {{ $('Nhập Thông Số Đầu Vào').item.json.MAX_RETRIES }},\n  \"channelNameBoolean\": {{ $('Nhập Thông Số Đầu Vào').item.json.CHANNEL_NAME_BOOL }},\n  \"channelIDBoolean\": {{ $('Nhập Thông Số Đầu Vào').item.json.CHANNEL_ID_BOOL }},\n  \"dateTextBoolean\": {{ $('Nhập Thông Số Đầu Vào').item.json.DATE_TEXT_BOOL }},\n  \"relativeDateTextBoolean\": {{ $('Nhập Thông Số Đầu Vào').item.json.RELATIVE_DATE_TEXT_BOOL }},\n  \"datePublishedBoolean\": {{ $('Nhập Thông Số Đầu Vào').item.json.DATE_PUBLISHED_BOOL }},\n  \"viewCountBoolean\": {{ $('Nhập Thông Số Đầu Vào').item.json.VIEW_COUNT_BOOL }},\n  \"likesBoolean\": {{ $('Nhập Thông Số Đầu Vào').item.json.LIKES_BOOL }},\n  \"commentsBoolean\": {{ $('Nhập Thông Số Đầu Vào').item.json.COMMENTS_BOOL }},\n  \"keywordsBoolean\": {{ $('Nhập Thông Số Đầu Vào').item.json.KEYWORDS_BOOL }},\n  \"thumbnailBoolean\": {{ $('Nhập Thông Số Đầu Vào').item.json.THUMBNAIL_BOOL }},\n  \"descriptionBoolean\": {{ $('Nhập Thông Số Đầu Vào').item.json.DESCRIPTION_BOOL }},\n  \"proxyOptions\": {\n    \"useApifyProxy\": {{ $('Nhập Thông Số Đầu Vào').item.json.USE_APIFY_PROXY }},\n    \"apifyProxyGroups\": [\"{{ $('Nhập Thông Số Đầu Vào').item.json.APIFY_PROXY_GROUP }}\"]\n  }\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        320
      ],
      "id": "ba338260-e4cf-4ef1-a532-a95ac4ec3203",
      "name": "Lấy Danh Sách Các Actors1"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}?token={{ $('Nhập Thông Số Đầu Vào').item.json.APIFY_TOKEN_PRIMARY }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Nhập Thông Số Đầu Vào').item.json.APIFY_TOKEN_PRIMARY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        320
      ],
      "id": "cdf6ee4a-609b-40ff-8a25-67663357a180",
      "name": "Lấy Thông Tin Chi Tiết của Actor Sau Run1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1984,
        320
      ],
      "id": "897e75f8-dadd-48b1-ad47-7f71bcb4b404",
      "name": "Wait5",
      "webhookId": "83b62c56-0d82-4e5c-8269-058a4e1d9a6f"
    },
    {
      "parameters": {
        "method": "=GET",
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "={{ $('Nhập Thông Số Đầu Vào').item.json.DATASET_FORMAT }}"
            },
            {
              "name": "limit",
              "value": "={{ $('Nhập Thông Số Đầu Vào').item.json.DATASET_LIMIT }}"
            },
            {
              "name": "token",
              "value": "={{ $('Nhập Thông Số Đầu Vào').item.json.APIFY_TOKEN_PRIMARY }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Nhập Thông Số Đầu Vào').item.json.APIFY_TOKEN_PRIMARY }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        320
      ],
      "id": "bafb4c74-40ae-4e1f-a94b-43b5bd1e8989",
      "name": "Lấy kết quả của  transcript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "APIFY_TOKEN_PRIMARY",
              "type": "string",
              "value": "apify_api_4SQDGtvL9hAT2mgLsZi9aVxMPKMbwT3PmWnK",
              "id": "f57f1557-4790-4298-8f96-6e2518294b28"
            },
            {
              "name": "APIFY_ACTOR_ID",
              "type": "string",
              "value": "1s7eXiaukVuOr4Ueg",
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            },
            {
              "name": "APIFY_PROXY_GROUP",
              "type": "string",
              "value": "BUYPROXIES94952",
              "id": "136c843b-c011-45b9-a2f8-6832c5942c89"
            },
            {
              "name": "OUTPUT_FORMAT",
              "type": "string",
              "value": "singleStringText",
              "id": "970655a6-46c2-4016-9c52-65382880e17a"
            },
            {
              "name": "MAX_RETRIES",
              "type": "number",
              "value": 8,
              "id": "eb567863-0a81-4ddd-83bf-6cbbfa4af32c"
            },
            {
              "name": "CHANNEL_NAME_BOOL",
              "type": "boolean",
              "value": true,
              "id": "cf356a40-43d7-4c6a-ac01-45483dc31c4b"
            },
            {
              "name": "CHANNEL_ID_BOOL",
              "type": "boolean",
              "value": true,
              "id": "db993f3e-d5d9-4e6b-9dfb-439ca31aeb8d"
            },
            {
              "name": "DATE_TEXT_BOOL",
              "type": "boolean",
              "value": false,
              "id": "d6afb7a0-3a5c-494c-9e7b-adeb1779b94c"
            },
            {
              "name": "RELATIVE_DATE_TEXT_BOOL",
              "type": "boolean",
              "value": false,
              "id": "4171219c-bcde-488e-ad09-fc12fde2b775"
            },
            {
              "name": "DATE_PUBLISHED_BOOL",
              "type": "boolean",
              "value": true,
              "id": "8626c844-d924-4790-93ce-f4983b35ffa0"
            },
            {
              "name": "VIEW_COUNT_BOOL",
              "type": "boolean",
              "value": false,
              "id": "6cdf84f5-e513-4828-afe0-844d5cf8db42"
            },
            {
              "name": "LIKES_BOOL",
              "type": "boolean",
              "value": false,
              "id": "40afb710-2f28-4e2f-8652-5c424e78cb6e"
            },
            {
              "name": "COMMENTS_BOOL",
              "type": "boolean",
              "value": false,
              "id": "f52e0398-4943-43ef-8ac4-2f8e89552055"
            },
            {
              "name": "KEYWORDS_BOOL",
              "type": "boolean",
              "value": false,
              "id": "4b17ea77-82ba-4d01-a104-1aa8b1dec231"
            },
            {
              "name": "THUMBNAIL_BOOL",
              "type": "boolean",
              "value": false,
              "id": "3b7086d0-285d-4f7a-a571-74afe59dcf57"
            },
            {
              "name": "DESCRIPTION_BOOL",
              "type": "boolean",
              "value": false,
              "id": "95efb78a-86a1-4e2c-a174-84108d30c4b5"
            },
            {
              "name": "USE_APIFY_PROXY",
              "type": "boolean",
              "value": true,
              "id": "23269021-59aa-43be-b115-772bd2b5d807"
            },
            {
              "name": "DATASET_FORMAT",
              "type": "string",
              "value": "json",
              "id": "f105869f-d932-444b-9ff2-29c37f0e933b"
            },
            {
              "name": "DATASET_LIMIT",
              "type": "number",
              "value": 100,
              "id": "756704fd-88db-4b78-9b6f-04a18f3d031c"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        320
      ],
      "id": "28fc88a8-2262-4f4f-abae-be5d5ac1e48b",
      "name": "Nhập Thông Số Đầu Vào"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Nhập Thông Số Đầu Vào",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting": {
      "main": [
        [
          {
            "node": "CheckTimeToken1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTimeToken1": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RefreshToken1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RefreshToken1": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Update Status to Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Ready1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch1": {
      "main": [
        [
          {
            "node": "Check Video Ready1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-VEO1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Setting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Danh Sách Các Actors1": {
      "main": [
        [
          {
            "node": "Lấy Thông Tin Chi Tiết của Actor Sau Run1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Thông Tin Chi Tiết của Actor Sau Run1": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Lấy kết quả của  transcript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy kết quả của  transcript1": {
      "main": [
        [
          {
            "node": "Analyze video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nhập Thông Số Đầu Vào": {
      "main": [
        [
          {
            "node": "Lấy Danh Sách Các Actors1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ebb9f04-a945-4a37-b998-09df0cd6f12b",
  "meta": {
    "instanceId": "8ae9064574590f4bef62fe6c8cafaae52a5a90dd40cb184103af1049753a2d5d"
  },
  "id": "U4k241sx3uFlmC3B",
  "tags": []
}